In [1]:
import pandas as pd
import numpy as np
import re
import requests 
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.common.by import By
import selenium.webdriver.support.ui as ui
import selenium.webdriver.support.expected_conditions as EC
import os
import time
import datetime

In [2]:
options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument('--ignore-ssl-errors')
dir_path = os.path.dirname(os.path.realpath('chromedriver'))
chromedriver = dir_path + '/chromedriver'
os.environ['webdriver.chrome.driver'] = chromedriver
driver = webdriver.Chrome(executable_path=chromedriver)
url = 'https://app.myaccident.org/results?startDate=2021-07-15&endDate=2021-07-16&lat=29.410489385788157&lng=-98.47068431884783&radius=16903'

In [3]:
driver.get(url)
ui.WebDriverWait(driver, 15).until(EC.visibility_of_all_elements_located((By.ID, 'root')))
time.sleep(10)

In [4]:
accident_list = []
elems = driver.find_elements_by_xpath("//a[@href]")
for elem in elems:
    if '/accident/' in elem.get_attribute("href") and 'undefined' not in elem.get_attribute("href"):
        accident_list.append(elem.get_attribute("href"))

In [5]:
accident_list[:10]

['https://app.myaccident.org/accident/00002818368205',
 'https://app.myaccident.org/accident/00002818368838',
 'https://app.myaccident.org/accident/00002818378272',
 'https://app.myaccident.org/accident/00002818369461',
 'https://app.myaccident.org/accident/00002818370952',
 'https://app.myaccident.org/accident/00002818368672',
 'https://app.myaccident.org/accident/00002818367261',
 'https://app.myaccident.org/accident/00002818368213',
 'https://app.myaccident.org/accident/00002818368457',
 'https://app.myaccident.org/accident/00002818373317']

In [6]:
driver.close()

In [7]:
numdays = 188
base = datetime.datetime.today()
date_list = [base - datetime.timedelta(days=x) for x in range(numdays)]
date_list.sort(reverse=False)

In [8]:
date = 0
month_periods = []
for i in range(6):
    month_periods.append(str(date_list[date].year) + '-'+  str(date_list[date].month) + '-' + str(date_list[date].day))
    date += 29

In [9]:
month_periods

['2021-2-2', '2021-3-3', '2021-4-1', '2021-4-30', '2021-5-29', '2021-6-27']

In [10]:
#will be replacated in a loop using the above dates as start date and end date perameters. in acquire.py

In [12]:
links = pd.read_csv('accident_links.csv')

In [13]:
links

                                                    link
0      https://app.myaccident.org/accident/0000281813...
1      https://app.myaccident.org/accident/0000281813...
2      https://app.myaccident.org/accident/0000281813...
3      https://app.myaccident.org/accident/0000281813...
4      https://app.myaccident.org/accident/0000281813...
...                                                  ...
16617  https://app.myaccident.org/accident/0000281828...
16618  https://app.myaccident.org/accident/0000281829...
16619  https://app.myaccident.org/accident/0000281828...
16620  https://app.myaccident.org/accident/0000281828...
16621  https://app.myaccident.org/accident/0000281828...

[16622 rows x 1 columns]